.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-section {
  display: flex;
    justify-content: space-between;
}
.content {
  width: 100%;
}
.shopping-list {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.increase-decrease {
  width: 32px;
  border-radius: 50%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 700;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 200ms ease-in-out;
}
.decrease {
  background-color:#d1d1d1
}
.increase {
  background-color:#abffb0;
}
.increase:hover {
  background-color: #25d730;
}
.decrease:hover {
  background-color: #858383;
}
.controls-cart {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
